# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.env
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code (uncomment if you don’t want VS Code settings tracked)
#.vscode/

# Flutter / Dart / Pub
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
generated_plugin_registrant.dart

# iOS
**/ios/Flutter/.last_build_id
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/Runner/GeneratedPluginRegistrant.*
ios/ServiceDefinitions.json
DerivedData/

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Pods/
macos/Runner/GeneratedPluginRegistrant.*

# Android
/local.properties
**/android/**/gradle-wrapper.jar
**/android/.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/key.properties
**/android/app/*.keystore
**/android/app/*.jks
**/android/app/release
**/android/app/profile
**/android/app/debug
**/android/app/google-services.json

# Windows
windows/flutter/generated_plugin_registrant.cc

# Linux
linux/flutter/generated_plugin_registrant.cc

# Web
web/.dart_tool/

# Obfuscation related
app.*.map.json

# Symbolication related
app.*.symbols
